body{
  background-color:#FFFFF0;
  font-family: Arial;
}



h1{
background-color:#4169E1;
text-align:center;
color:#FFFFF0;
font-size:50px;
font-style:italic;
}

h2{
font-weight:bold;
}

p{
font-size:18px;
}
