body {
margin: 0;
text-align: center;
font-family: Arial, sans-serif;
background-color: #fffaf0;
}

header {
background: #6d4c41;
color: white;
padding: 20px;
}

h1 {
font-family: "Dancing Script", cursive;
font-size: 70px;
margin: 10px;
}

nav a {
color: white;
text-decoration: none;
margin: 15px;
font-size: 20px;
}

nav a:hover {
color: #ffd54f;
}

h2 {
color: #6d4c41;
margin-top: 30px;
}

p {
max-width: 700px;
margin: 20px auto;
font-size: 18px;
line-height: 1.6;
}

img {
width: 300px;
margin: 15px;
border-radius: 15px;
box-shadow: 0 4px 10px gray;
}

iframe {
border-radius: 15px;
box-shadow: 0 4px 10px gray;
}

footer {
background: #6d4c41;
color: white;
padding: 15px;
margin-top: 30px;
}
