body{
  background-color:#FFFFF0;
  font-family:Dancing Script;
}
img {
  width:200px;
}


h1{
background-color:#4169E1;
text-align:center;
color:#FFFFF0;
font-size:50px;
font-style:Dancing Script;
margin: 20px;
padding: 10px; 
}

h2{
font-weight:bold;
}

p{
font-size:18px;
}
